.flex{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
    column-gap: 10px;
} 


.date, .day{
    background-color: beige;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2;
}

.day{

    background-color: blanchedalmond;
    font-size: 1.0;
}